<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Paypal\Model\Api\Nvp" type="Yaoli\Paypals\Model\Api\Nvp" />
    <preference for="Magento\Paypal\Model\Express\Checkout" type="Yaoli\Paypals\Model\Express\Checkout" />
    <preference for="Magento\Payment\Model\Cart" type="Yaoli\Paypals\Model\Payment\Cart" />
    <preference for="Magento\Paypal\Model\Express" type="Yaoli\Paypals\Model\Express" />
    <preference for="Magento\Paypal\Model\Ipn" type="Yaoli\Paypals\Model\Ipn" />
</config>