<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="yaoli_paypals" translate="label" type="text" sortOrder="161820" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>PayPal Configuration</label>
            <tab>sendorder</tab>
            <resource>Amasty_Feed::general</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Paypal Configuration</label>
                <field id="enable_notif" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Return IPN AMQPs Enable</label>
                    <comment>Enable OR Disable IPN AMQPs</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enable_return" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notifaction IPN AMQPs Enable</label>
                    <comment>Enable OR Disable Notifaction IPN AMQPs</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="links" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AMQPs Links</label>
                </field>
            </group>
        </section>
    </system>
</config>
